# Ambiente virtual
.venv/
venv/

# Cache Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.log

# Dados brutos e processados
data/raw/
data/processed/

# Arquivos grandes
*.zip
*.csv
*.sav